.cargo-item(ng-click="toggleSelected()" ng-class="{active: isSelected}")
  .content
    strong(ng-bind="cargo.commodity.code")
    span(ng-bind="' ' + cargo.description")
    br
    span.producer(ng-bind="cargo.producer.name")
    span.quantity(ng-bind="cargo.quantity")
