.cargo-item

  .content(ng-click="toggleActions()")
    strong(ng-bind="cargo.commodity.code")
    span(ng-bind="' ' + cargo.description")
    br
    span.producer(ng-bind="cargo.producer.name")
    span.quantity(ng-bind="cargo.quantity")

  .cargo-actions(ng-if="showActions")
    a(ng-click="remove()") x
    a(ng-click="toggleTrimAction()") /

  form.form-inline(ng-if="showTrimAction", name="trimForm" ng-submit="trim(trimValue)")
    form-group
      input(type="text" ng-required="true" ng-model="trimValue")
    button.btn.btn-default Trim
    a.btn.btn-link(ng-click="toggleTrimAction()") Cancel
