doctype html
html(ng-app="fargo")
  head
    title= title

    base(href="/", target="_blank")
    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    // STYLES
    link(rel="stylesheet", href="/styles/styles.css")
    // STYLES END

  body(ng-cloak)

    // NAVBAR

    .navbar.navbar-default.navbar-fixed-top(ng-controller="NavbarController", role="navigation")
      .container
        .navbar-header
          button.navbar-toggle.collapse(type="button", ng-click="isCollapsed = !isCollapsed")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="")= title

        ul.nav.navbar-nav(ng-if="isAuthenticated", collapse="isCollapsed")
          li(ui-sref-active="active"): a(ui-sref="dashboard") Dashboard
          li(permission="admin", ui-sref-active="active"): a(ui-sref="users") Users
          li(permission="admin", ui-sref-active="active"): a(ui-sref="bookings.new") Bookings

        ul.nav.navbar-nav
          li: a(ui-sref="home") Home
          li: a(ui-sref="bookings.new") Bookings

        form.navbar-form.navbar-right(ng-if="!isAuthenticated")
          .form-group
            input.form-control(type="text", ng-model="data.username", placeholder="Username")
          .form-group
            input.form-control(type="password", ng-model="data.password", placeholder="Password")
          | {{password}}
          button.btn.btn-default(ng-click="login()") Sign in

        ul.nav.navbar-nav.navbar-right(ng-if="isAuthenticated")
          li: a(href="", ng-bind="currentUser.displayName")
          li: a(ng-click="logout()") Sign Out

    .container
      ui-view

    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/lodash.js")
    script(src="/js/dependencies/angular.js")
    script(src="/js/dependencies/angular-cookies.js")
    script(src="/js/dependencies/angular-restmod.js")
    script(src="/js/dependencies/angular-ui-router.js")
    script(src="/js/dependencies/restangular.js")
    script(src="/js/dependencies/ui-bootstrap.js")
    script(src="/js/app/app.js")
    script(src="/js/app.templates.js")
    script(src="/js/app/config/datepicker.js")
    script(src="/js/app/config/http.js")
    script(src="/js/app/config/restmod.js")
    script(src="/js/app/config/routes.js")
    script(src="/js/app/config/socket.js")
    script(src="/js/app/controllers/BookingController.js")
    script(src="/js/app/controllers/BookingViewController.js")
    script(src="/js/app/controllers/CargoController.js")
    script(src="/js/app/controllers/ErrorController.js")
    script(src="/js/app/controllers/NavbarController.js")
    script(src="/js/app/controllers/TransferController.js")
    script(src="/js/app/controllers/UserIndexController.js")
    script(src="/js/app/directives/permission.js")
    script(src="/js/app/filters/depopulate.js")
    script(src="/js/app/modules/bootstrap.js")
    script(src="/js/app/modules/flash.js")
    script(src="/js/app/services/$socket.js")
    script(src="/js/app/services/Auth.js")
    script(src="/js/app/services/Booking.js")
    script(src="/js/app/services/Cargo.js")
    script(src="/js/app/services/Client.js")
    script(src="/js/app/services/Commodity.js")
    script(src="/js/app/services/Location.js")
    script(src="/js/app/services/Transfer.js")
    script(src="/js/app/services/User.js")
    script(src="/js/authorisation.js")
    script(src="/js/labels.js")
    // SCRIPTS END
