include mixins

.container-item

  .header
    span(ng-bind="container.number")
    strong(ng-bind="container.type")
    span.header-toggle(ng-click="toggleEdit()") i


  form(ng-if="edit" name="editContainerForm" ng-submit="update()")

    +container-form-fields

    .form-actions
      button.btn.btn-default Update
      a.btn.btn-link(ng-click="toggleEdit()") Cancel
      a.btn.btn-link(ng-click="destroy()") Delete


  .inventory(ng-if="!edit")
    container-cargo(ng-repeat="item in container.cargos", item="item")

    .add(ng-if="isLoading")
      .label(ng-if="!showSplitAction")
        span(ng-click="loadCargo()") Add +
        span(ng-click="toggleSplitAction()") Load Partial

      form(ng-if="showSplitAction" ng-submit="loadPartialCargo(splitValue)")
        form-group
          input(type="text" ng-model="splitValue")
        button.btn.btn-default Load


  .footer
    ul
      li(ng-if="container.temperature")
        span.indicator
        span {{container.temperature}}&deg;C
